<h1>What's you ZIP code?</h1>

<form class="pure-form">
  <fieldset>
    <input type="number" name="zip" placeholder="12345" autofocus required>
    <input type="submit" class="pure-button pure-button-primary" value="Go">
  </fieldset>
</form>
